In [112]:
import numpy as np
import pandas as pd

In [113]:
df=pd.read_csv('Cardetails.csv')

In [114]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

# delete the unnecessary columns

In [115]:
df.drop(columns=['torque'],inplace=True)

In [116]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [117]:
#check the null values and duplicates present in the data set

In [118]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

drop the  null values

In [119]:
df.dropna(inplace=True)

In [120]:
#check duplicates

In [121]:
df.duplicated().sum()

1189

In [122]:
#drop the duplicates

In [123]:
df.drop_duplicates(inplace=True)

In [124]:
df.duplicated().sum()

0

In [125]:
#check no of rows and columns

In [126]:
df.shape

(6718, 12)

In [127]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [128]:
#in  name column extract only brand of  a car instead of complete

In [129]:
def get_brand_name(brand_name):
    name=brand_name.split(' ')[0]
    return name.strip('')

In [130]:
df['name']=df['name'].apply(get_brand_name)

In [131]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [132]:
#same as mileage,engine,max_power

In [133]:
df['mileage']=df['mileage'].apply(get_brand_name)
df['engine']=df['engine'].apply(get_brand_name)
df['max_power']=df['max_power'].apply(get_brand_name)

In [134]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,5.0

In [135]:
#checkagain data tye

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 682.3+ KB

In [137]:
#we have to convert categorical column int numerical column for ml model

# convert categorical column int numerival

In [138]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,5.0

In [139]:
#same as other columns

In [140]:
from sklearn.preprocessing import LabelEncoder
label_encoders = {}
categorical_columns = ['name', 'fuel', 'seller_type', 'transmission', 'owner']

for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le  # Save the encoder for later use in prediction

# Split data into input and output

In [141]:
df.head(1)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,20,2014,450000,145500,1,1,1,0,23.4,1248,74,5.0

In [142]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,20,2014,450000,145500,1,1,1,0,23.4,1248,74,5.0
1,26,2014,370000,120000,1,1,1,2,21.14,1498,103.52,5.0
2,10,2006,158000,140000,3,1,1,4,17.7,1497,78,5.0
3,11,2010,225000,127000,1,1,1,0,23.0,1396,90,5.0
4,20,2007,130000,120000,3,1,1,0,16.1,1298,88.2,5.0

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int32
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int32
 5   seller_type    6718 non-null   int32
 6   transmission   6718 non-null   int32
 7   owner          6718 non-null   int32
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int32(5), int64(3), object(3)
memory usage: 551.1+ KB

In [144]:
df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')
df['engine'] = pd.to_numeric(df['engine'], errors='coerce')
df['max_power'] = pd.to_numeric(df['max_power'], errors='coerce')
df.dropna(inplace=True)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   int32
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   int32
 5   seller_type    6717 non-null   int32
 6   transmission   6717 non-null   int32
 7   owner          6717 non-null   int32
 8   mileage        6717 non-null   float64
 9   engine         6717 non-null   int64
 10  max_power      6717 non-null   float64
 11  seats          6717 non-null   float64
dtypes: float64(3), int32(5), int64(4)
memory usage: 551.0 KB

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   int32
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   int32
 5   seller_type    6717 non-null   int32
 6   transmission   6717 non-null   int32
 7   owner          6717 non-null   int32
 8   mileage        6717 non-null   float64
 9   engine         6717 non-null   int64
 10  max_power      6717 non-null   float64
 11  seats          6717 non-null   float64
dtypes: float64(3), int32(5), int64(4)
memory usage: 551.0 KB

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   int32
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   int32
 5   seller_type    6717 non-null   int32
 6   transmission   6717 non-null   int32
 7   owner          6717 non-null   int32
 8   mileage        6717 non-null   float64
 9   engine         6717 non-null   int64
 10  max_power      6717 non-null   float64
 11  seats          6717 non-null   float64
dtypes: float64(3), int32(5), int64(4)
memory usage: 551.0 KB

#input data

In [148]:
df['mileage']

0       23.40
1       21.14
2       17.70
3       23.00
4       16.10
        ...
8121    18.90
8122    22.54
8123    18.50
8124    16.80
8125    19.30
Name: mileage, Length: 6717, dtype: float64

In [149]:
inputdata=df.drop(columns=['selling_price'])
output=df['selling_price']

In [150]:
#split the data into train and test dataset

In [151]:
from sklearn.model_selection import train_test_split

In [152]:
x_train,x_test,y_train,y_test=train_test_split(inputdata,output,test_size=0.2,random_state=42)

In [182]:
from sklearn.linear_model import LinearRegression

In [183]:
model1= LinearRegression()

In [184]:
model1.fit(x_train,y_train)

LinearRegression()

In [185]:
prediction=model1.predict(x_test)

In [186]:
prediction

array([1518263.77923466,  697839.12591082,  238732.05918729, ...,
        392994.53239799,  897597.34946379,   42407.09547183])

In [187]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
mean_squared_error(y_test,prediction)

74666250393.50076

In [188]:
mean_absolute_error(y_test,prediction)

168548.56528684797

In [189]:
from sklearn.metrics import r2_score

In [190]:
r2_score(y_test,prediction)

0.6597275361174738

In [191]:
import pickle as pk

In [192]:
save_path = r'C:\Users\LOG IN\OneDrive\Desktop\python\mod.pkl'  # Adjust this path if needed
with open(save_path, 'wb') as file:
    pk.dump(model1, file)

print("Model saved successfully.")

Model saved successfully.

In [193]:
import os

file_path = r'C:\Users\LOG IN\OneDrive\Desktop\python\mod.pkl'
if os.path.exists(file_path):
    print("File exists.")
else:
    print("File does not exist.")

File exists.